.bagianatas{
	background-color: blue;
	background-repeat: no-repeat;
	height: 60px;
	padding-right: 60px;
	padding-left: 60px;
}

.menu{
	background-color: 	green;
}

.gambar img{
	width: 60px;
	height: 60px;
	float: left;
}

.judul{
	font-size: 24px;
	color: white;
}

.nama{
	float: right;
	position: relative;
	bottom: 25px
}

.penting{
	text-align: center;
	font-size: 25px;
	height: 40px;
}

.penting label{
	margin-left: 80px;
	font-style: 	white;
	
}


.tahap label{
	font-size: 10px;
}

.jadwalpel label{
	margin-left: 80px;
	text-align: 	center;
}

.bagian1{
	width: 	400px;
	height: 	400px;
	float: 	left;
	background-repeat: no-repeat;
	padding: 	20px;

}

.lefttt table{
width: 400px;
font-size: 18px;
margin-left: 80px;
float: left;
}

.righttt table{
	width: 400px;
	font-size: 18px;
	float: right;
	margin-right: 80px;
}

.lefttt td{
	margin-left: 80px;
}

.lefttt table{
	width: 400px;
	font-size: 18px;
	margin-left: 80px;
	float: left;
	background-color: 	green;
}

.righttt table{
	width: 400px;
	font-size: 18px;
	float: right;
	margin-right: 80px;
}

.lefttt td{
	margin-left: 80px;
}

.penjadwalan{
	padding: 	20px;
	float: 	left;	
	width: 	677px;
	height: 	680px;
}

footer{
	margin-top: 700px;
	background-color: blue;
	height:80px;
	text-align: center;

}

footer label{
	position: relative;
	top: 15px;
}